In [1]:
import pandas as pd
import numpy as np
import datetime
import time

# 1.04 Activity 1

# Load data (file1.csv) in a new Jupyter notebook.

In [2]:
df1 = pd.read_csv('C:/Users/mauri/Documents/Important IH Files/data_1.04_activities/files_for_activities/csv_files/file1.csv')

# Write the code to clean the columns 'ic4' and 'ic5' of null values in the dataframe.

In [3]:
df1.dtypes #awwww shit!!!

CONTROLN      int64
STATE        object
GENDER       object
HV1          object
IC1           int64
IC4         float64
HVP1          int64
IC5          object
POBC1         int64
POBC2         int64
IC2         float64
IC3           int64
AVGGIFT     float64
TCODE         int64
DOB           int64
DOMAIN       object
TARGET_D    float64
dtype: object

In [11]:
avg_IC4 = np.mean(df1['IC4']) # Mean of average in IC4 Column
avg_IC4

445.0596421471173

In [5]:
df1['IC5'].replace('\D','', regex = True, inplace = True)
# Data had a damn @ in it, USed regex to take out all instances of strings

In [6]:
df1['IC5'] = pd.to_numeric(df1['IC5']) # Change from object to int64

In [12]:
avg_IC5 = np.mean(df1['IC5']) #Mean of average in IC5 Column
avg_IC5

16627.267130089374

In [8]:
df1['IC4'] = df1['IC4'].fillna(avg_IC4) #Replace Values of Null, in this case with Mean
df1['IC4'].isna().sum() # Lets check if that worked! it did :D

0

In [9]:
df1['IC5'] = df1['IC5'].fillna(avg_IC5) #Replace Values of Null, in this case with Mean 
df1['IC5'].isna().sum() # Lets check if that worked! it did :D

0

# Use the head() to check the new dataframe.

In [10]:
df1.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

#

# Debate

## Is it better to fill null values with the mean or with the median? It depends, with heavy outliers skewing the mean, it may be beneficial to use the median. But in any other case the mean should be fine. This applies when using numerical data obviously, not categorical data

## Can we drop all rows with null values? It isn't the best idea, since we can lose valuable data that is contained in those rows as well.

# 1.04 Activity 2

## Import the data from merged_clean_ver1.csv as a dataframe. There would be a column with the sequence of numbers (to the left of column id). Drop that column(s).

In [13]:
mc1 = pd.read_csv('C:/Users/mauri/Documents/Important IH Files/data_1.04_activities/files_for_activities/csv_files/merged_clean_ver1.csv')

In [19]:
mc1.rename({'Unnamed: 0	':'Unnamed:0'}, axis = 1, inplace = True)

In [21]:
mc1.drop('Unnamed: 0', axis = 1, inplace =True)

In [22]:
mc1.head()

,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0
1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0
2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0
3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0
4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0

In [ ]:
mc1['id'].is_unique #Extra, plz ignore

# Check the column state for null values. Replace those null values with the state that is represented largest number of times in that column

In [29]:
mc1['state'].isna().sum() #There are no null values...Review how hima did it so you can see how to do it, and in a robust way.

0

# Lambda Expression: STUCK

Create a simple lambda expression to add three numbers. Take those three numbers as input from the user. (Since you will accept only numbers as valid inputs, check this example to see how to do it.)

switch1 = False
while switch 
num1 = input('please enter the first number')
if num1.isdigit():
    num1 = float(num1)
    print('Thank you!')
num2 = input('please enter the second number')
num3 = input('please enter the third number')
#ignore, need to use lambda function

In [ ]:
sum_3 = lambda x,y,z: x+y+z

In [ ]:
sum_3(3,4,5)

# Lambda Expression

Define a list as lst = [1,2,3,4,5,6,7,8,10]. Write a lambda expression to find the cube of a number. Use that lambda expression to find the cube of every number in the list. Define a list comprehension for this question.

In [31]:
lst = [1,2,3,4,5,6,7,8,10]

In [32]:
lst_cube = list(map(lambda x: x*x*x,lst)) #int type
lst_cube

[1, 8, 27, 64, 125, 216, 343, 512, 1000]

In [42]:
cube_num = lambda x: x*x*x

In [44]:
cube_num(3)

27

In [46]:
for item in lst:
    print(cube_num(item))

1
8
27
64
125
216
343
512
1000

In [47]:
#List comprehsenion... definitely go over this
new_lst = []
for item in lst:
    new_lst.append(item*2)

In [48]:
new_lst

[2, 4, 6, 8, 10, 12, 14, 16, 20]

In [49]:
new_list =[item*2 for item in lst] #WTFFFFFFFF pay attention to the order
new_list

[2, 4, 6, 8, 10, 12, 14, 16, 20]

In [52]:
new_list =[cube_num(item) for item in lst]
new_list

[1, 8, 27, 64, 125, 216, 343, 512, 1000]

# 1.04 Activity 3
Try to convert these functions into lambda functions.

In [ ]:
def function_1(a,b):
    c=a+b
    return c

In [ ]:
f

In [36]:
sum_two_num = lambda x,y: x+y  # my way

In [38]:
sum_two_num(4,5)

9

In [ ]:
def function_2(a,b):
    c=0
    for i in range(a):
        c+=2*b
    return c

In [97]:
#SOL!
function_2 = lambda a,b: sum([2*b for i in range (a)]) # inherent return

In [108]:
function_2(2,6)

24

In [101]:
z = [10,40,30,50]

In [102]:
[i/10 for i in z]

[1.0, 4.0, 3.0, 5.0]

In [ ]:
def function_3(a,b): # b aint even gonna be used
    c=0
    if a>3:
        c=12
    else:
        c='Too big.'
    return c

In [104]:
function_3 = lambda a,b : 12 if a>3 else "Too Big"

In [106]:
function_3(3,4)

'Too Big'

# Notes Afterwards, More Notes on Lambda Functions

In [ ]:
sum = 0
for i in [1,2,3,4]:
    sum = sum + i

In [ ]:
for i in range(10):
    print(i)

In [94]:
lambda_test = lambda lst: sum([item for item in lst])

In [95]:
lambda_test2 = lambda a: sum([item for item in range(a)])

In [86]:
lambda_test([1,2,4,5,5,5,5,])

27

In [92]:
lambda_test2(10)

45

In [93]:
lambda_test3 = lambda lst: min([item for item in lst])

In [ ]:
lambda_test3()

# 1.04 Activity 4

### Create a user-defined method to clean the column state in the dataframe.

In [ ]:
mc1

In [ ]:
mc1['state'].value_counts()

In [61]:
My own problem set
def clean_state(x):
    if (x == 'California') or (x == 'Cali'):
        return 'CA'
    elif (x == 'Tennessee'):
        return 'TN'
    elif (x == 'Arizona'):
        return 'AZ'
    else:
        return x

In [ ]:
#Himanshu Way
def clean_state(x):
    if x in ['Cali','California']:
        return 'CA'
    elif (x == 'Tennessee'):
        return 'TN'
    elif (x == 'Arizona'):
        return 'AZ'
    else:
        return x

In [62]:
mc1['clean state'] = list(map(clean_state, mc1['state']))

In [64]:
mc1['clean state'].unique() #Save space, time...lordy

array(['FL', 'IL', 'NC', 'TX', 'CA', 'NV', 'AP', 'MI', 'OK', 'AR', 'IN',
       'MT', 'WI', 'MO', 'HI', 'UT', 'GA', 'WA', 'ID', 'CT', 'AL', 'ND',
       'SC', 'IA', 'CO', 'LA', 'OR', 'SD', 'TN', 'NM', 'AZ', 'MN', 'KY',
       'NJ', 'NE', 'KS', 'MS', 'NY', 'WY', 'MD', 'AK', 'VA', 'AE', 'AA',
       'PA', 'VT', 'WV', 'GU'], dtype=object)

### Use string functions to standardize the states to uppercase and use the strip function to clean the strings as well.

In [66]:
mc1.columns

Index(['id', 'state', 'gender', 'median_home_val', 'median_household_income',
       'ic2', 'ic3', 'ic4', 'ic5', 'avggift', 'target_d', 'clean state'],
      dtype='object')

In [70]:
mc1.columns = list(map(lambda x: x.upper().strip(), mc1.columns))

In [71]:
mc1.columns

Index(['ID', 'STATE', 'GENDER', 'MEDIAN_HOME_VAL', 'MEDIAN_HOUSEHOLD_INCOME',
       'IC2', 'IC3', 'IC4', 'IC5', 'AVGGIFT', 'TARGET_D', 'CLEAN STATE'],
      dtype='object')

# NOTES for lab

In [109]:
def clean_dataframe(df):
    df.columns = list(map(lambda x: x.upper().strip().replace('-','_'),df.columns))
    df['IC4'] = df['IC4'].fillna(np.mean(df['IC4']))
    df_clean = df
    return df

In [110]:
mc1_shiny = clean_dataframe(mc1)
mc1_shiny

,ID,STATE,GENDER,MEDIAN_HOME_VAL,MEDIAN_HOUSEHOLD_INCOME,IC2,IC3,IC4,IC5,AVGGIFT,TARGET_D,CLEAN STATE
0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0,FL
1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0,IL
2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0,FL
3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0,NC
4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0,FL
...,...,...,...,...,...,...,...,...,...,...,...,...
3988,66762,MI,F,632.000000,279,336.0,339,388.0,12653.0,8.533333,5.0,MI
3989,6443,FL,M,595.000000,252,263.0,262,274.0,11132.0,14.692308,20.0,FL
3990,151175,CA,F,2707.000000,507,504.0,538,537.0,16165.0,12.117647,22.0,CA
3991,151504,CA,M,2666.000000,535,609.0,612,653.0,24745.0,12.333333,21.0,CA
3992,74303,MI,M,444.000000,225,264.0,269,299.0,10088.0,17.142857,25.0,MI